<h3>All Notes</h3>
<table>
  <thead>
    <tr>
      <th>RE:Mind My Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td> <br>
        <% note.photos.each do |photo| %>
       <br> <td><%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill)  %></td>
      <% end %>
        <td>
          <%= link_to 'Details', note_path(note), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-primary' %>
          <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Note', new_note_path(@user), class: 'btn btn-success' %>
