<h3>All Notes</h3>

<% @notes.each do |note| %>
  <div class="card-product">
    <% note.photos.each do |photo| %>
      <div class="card-product-image">
        <%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill) %>
      </div>
    <% end %>
    <div class="card-product-infos">
      <h2><%= note.title %></h2>
      <p><%= note.description %></p>
        <td>
          <%= link_to 'Detail', note_path(note), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-primary' %>
          <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
    </div>
  </div>
<% end %>
 <%= link_to 'New Note', new_note_path(@user), class: 'btn btn-success' %>
