<h3>All Notes</h3>
<table>
  <thead>
    <tr>
      <th>RE:mind My Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= cl_image_tag(@note.photos.key,
      width: 400, height: 300, crop: :fill) %></td>
        <td>
          <%= link_to 'Detail', note, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-primary' %>
          <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Note', new_note_path, class: 'btn btn-success' %>
