<div class="center"><strong>Create Note</strong><%= link_to new_note_path(@user), class: 'btn btn-success' do %>
              <i class="fas fa-plus-circle"></i> <!-- Replace 'New Note' text with an icon -->
            <% end %>
</div>
<div class="container ">
  <div class="cards">
    <% @notes.each do |note| %>

        <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
            <div class="content">
                <h6 class="category"><%note.category%></h6>
                <h4  class="title a "><a href="<%= note_path(note)  %> "><%= note.title %> </a></h4>
                <p class="description"><%= note.description %> </p>
                <%= link_to note_path(note), class: 'btn btn-primary' do %>
            <i class="fas fa-info-circle"></i> <!-- Replace 'Detail' text with an icon -->
            <% end %>

            <%= link_to edit_note_path(note), class: 'btn btn-primary' do %>
              <i class="fas fa-edit"></i> <!-- Replace 'Edit' text with an icon -->
            <% end %>

            <%= link_to destroy_note_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              <i class="fas fa-trash-alt"></i> <!-- Replace 'Delete' text with an icon -->
            <% end %>

            </div>
        </div> <!-- end card -->
    <% end %>
  </div>
</div>


