<h3>All Notes</h3>
<<<<<<< HEAD
<table>
  <thead>
    <tr>
      <th>RE:Mind My Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td> <br>
        <% note.photos.each do |photo| %>
       <br> <td><%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill)  %></td>
      <% end %>
        <td>
          <%= link_to 'Details', note_path(note), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-primary' %>
          <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
=======
>>>>>>> 9880f6aaee7b98bdfac63363f213b31bd8680c12

<% @notes.each do |note| %>
  <div class="card-product">
    <% note.photos.each do |photo| %>
      <div class="card-product-image">
        <%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill) %>
      </div>
    <% end %>
    <div class="card-product-infos">
      <h2><%= note.title %></h2>
      <p><%= note.description %></p>
      <%= link_to 'Detail', note_path(note), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-primary' %>
      <%= link_to 'Delete', destroy_note_path(note), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
 <%= link_to 'New Note', new_note_path(@user), class: 'btn btn-success' %>
