<h1><%= @note.title %></h1>
<p><%= @note.description %></p>
<p><%= @note.due_date %></p>

<%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-primary' %>
<%= link_to 'Back', notes_path, class: 'btn btn-primary' %>
<%= link_to "Delete", note_path(@note), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this note? This will remove any notes it has."}, class: 'btn btn-danger' %>
