<div class="label">
<% valid_category = ['Work', 'Study', 'Event', 'Family', 'Party', 'Home Work','To-Do', 'Shopping']  %>
<%= simple_form_for [@task] do |f| %>
  <%= f.input :title, placeholder: 'Task title' %>
  <%= f.input :category, collection: valid_category %>
  <%= f.input :description, placeholder: 'Description' %>
  <%= f.input :due_date,
            as: :string,
            input_html: { data: { controller: "datepicker", enable_time: true, date_format: "Y-m-d H:i"} }
             %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%# <%= f.input :completed, as: :boolean, label: 'Completed' %> 
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
</div>