<%# require "timers" %>
<p><%= @task.completed %>

<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="card-trip">
        <% if @task.photos.attached? %>
        <div>
          <% @task.photos.each do |photo| %>
            <%= image_tag photo %>
          <% end %>
        </div>
        <% end %>

        <div class="card-trip-infos">
          <div>
          <h2> <%= @task.title %></h2>
            <p><strong>Category:</strong> <%= @task.category %></p>
            <p><strong>Description:</strong> <%= @task.description %></p>
            <p><strong>Due Date:</strong> <%= @task.due_date %></p>
          </div>
        </div>
        <div class="p-3 text-center">
           <%= link_to edit_task_path(@task), class: 'btn btn-primary' do %>
              <i class="fas fa-edit"></i> <!-- Replace 'Edit' text with an icon -->
            <% end %>
            <%= link_to destroy_task_path(@task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              <i class="fas fa-trash-alt"></i> <!-- Replace 'Delete' text with an icon -->
            <% end %>
            <%= link_to tasks_path, class: 'btn btn-primary' do %>
                <i class="fas fa-arrow-left"></i> <!-- Replace 'Back' text with an arrow icon -->
                <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
