<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
<%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dk0declv9/image/upload/v1701222694/development/r4whua77qv5jbxzdy9rkx4i902q9.png" %>
<% end %>
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 195px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 70px;
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}



.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffff;
  display: block;
}

.sidenav a:hover {
  color: #25c4b3;
}
/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


/* Add an active class to the active dropdown button */
.active {
  background-color: #009eec;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>
</head>
<body>

<div class="sidenav">

  <%= link_to 'Notes',  notes_path %>
  <%= link_to 'Tasks',  tasks_path %>
 <%= link_to 'Trash', "#" %>
    <button class="dropdown-btn">Trash 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <%= link_to 'Trashed Tasks', trash_tasks_path %>
       <%= link_to 'Trashed Notes', trash_notes_path %>
      
      <a href="<%= link_to 'All Trashed Notes', empty_trash_notes_path %>">Link 2</a>
      <a href="#">Link 3</a>
  </div>
  <a href="#">Reminder</a>
  <div class="trash-section">
    <%= link_to 'Trash', '#', data: { action: 'trash', target: 'trash.trash' } %>
    <ul class="trash-submenu">
      <%= link_to 'Trashed Tasks', trash_tasks_path %>
      <%= link_to 'All Trashed Tasks', empty_trash_tasks_path %>
      <%= link_to 'Trashed Notes', trash_notes_path %>
      <%= link_to 'All Trashed Notes', empty_trash_notes_path %>
    </ul>
  </div>
  <a href="#">Share</a>
  <%= link_to 'Archive', '#', data: { action: 'archive', target: 'archive.archive' } %>


</div>
