  <h3 class="center"> RE:mind - Never Miss A Moment </h3>
  <h3 class="center"><strong>Tasks</strong></h3>
  <div class="d-flex justify-content-center mb-3">
    <%= link_to new_task_path(@user), class: 'btn btn-success' do %>
    <i class="fas fa-plus-circle"></i>
    <% end %>
  </div>

    
<div class="container">
  <div class="cards">
    <% @tasks.limit(3).order(created_at: :desc).each do |task| %>
      <div class="card-dashboard-task" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <h4 class="title a"> <a href="<%= task_path(task) %> "><%= task.title %> </a></h4>
      </div>
    <% end %>
  </div>
</div>
 <br>

  <h3 class="center"><strong>Notes</strong></h3>
  <div class="d-flex justify-content-center mb-3">
    <%= link_to new_note_path(@user), class: 'btn btn-success' do %>
    <i class="fas fa-plus-circle"></i>
    <% end %>
  </div>


<div class="container">
  <div class="cards">
    <% @notes.limit(3).order(created_at: :desc).each do |note| %>
      <div class="card-dashboard-note" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
       <h4 class="title a"><a href="<%= note_path(note)  %> "><%= note.title %> </a></h4>
      </div>
    <% end %>
  </div>
</div>
