
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dk0declv9/image/upload/v1701757128/Green_Modern_Interior_Designer_Linkedin_Banner_by6kg3.png;">
      <div class="container" text-align="center">
        <h1>RE:Mind </strong></h1>
          <h1>Your Personal Reminder Assistant </strong></h1>
          <div class="center">   <%= link_to 'Sign up Now', new_user_registration_path(@user), class: 'btn btn-gradient' %>
          </div>
          <div class="center"> <%= link_to 'Already have an account? Login',  new_user_session_path(@user) %>
          </div>
      </div>
  </div>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag  %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <div class="container">
    <div class="card-home" style="margin-top: 20px;">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dk0declv9/image/upload/v1701224882/checklist-154274_1280_hyvfla.png)">

        <%= link_to 'Create New Task', new_task_path(@user), class: 'btn btn-gradient' %>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dk0declv9/image/upload/v1701310439/post-it-150262_1280_mdxop4.png)">
         <%= link_to 'Create New Note', new_note_path(@user), class: 'btn btn-gradient' %>
      </div>

    
    </div>
    </div class="container">
    <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
    This is made with <i class="fas fa-heart"></i> at RE:Mind
  </div>
</div>

</body>


</html>
