<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RE:Mind - Your Personal Reminder Assistant</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <style>
/*     
    .footer {
      text-align: center;
      margin-top: 50px;
    }
    .footer-links a {
      margin-right: 10px;
    }
    .footer-copyright {
      margin-top: 10px;
    } */
  </style>
</head>

<body>
  <div class="banner">
    <div class="container center">
      <h1>RE:Mind</h1>
      <h1>Your Personal Reminder Assistant</h1>
      <div class="center">
        <%= link_to 'Sign up Now', new_user_registration_path(@user), class: 'btn btn-gradient' %>
      </div>
      <div class="center">
        <%= link_to 'Already have an account? Login', new_user_session_path(@user) %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This is made with <i class="fas fa-heart"></i> at RE:Mind
      </div>
    </div>
  </div>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag  %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</body>
</html>
