<div class="col-12 col-sm-6">
    <div class="bg-white rounded p-3">
        <h5>Add your comment</h5>
        <% valid_comment = ['Started', 'Processing', 'Finished', 'Others']  %>
        <%= simple_form_for [task, review] do |f| %> 
          <%= f.input :comment, placeholder: "Add your comment here..." %>
          <%# <%= f.input :rating, as: :select, collection: (1..10), required: true,
           label: false, input_html: { data: { controller: "star-rating" } } %> 
           <%= f.input :rating, as: :select, collection: valid_comment, required: true,
           label: false, input_html: { data: { controller: "star-rating" } } %>
          <%= f.submit class: "btn btn-success mt-2" %>
        <% end %>
    </div>
</div>